<%- include('partials/header.ejs') %>

    <div class="jumbotron"
        style=" text-align: center; text-align: center;  margin:10%; padding: 5%;">
        <div>
            
            <div><img id="news_image" height="auto" width="80%" class="shadow-sm p-3 mb-5 bg-white rounded" src="<%=newsData.img_Url%>"></div>
            <div style="margin: 40px;">
                <h4 id="Headline"><%=newsData.title%></h4>
            </div>
            <div id="content"><%=newsData.description%></div>

        </div>

        <div class="col-lg-12">
             <a class="btn btn-primary m-3" href= '<%=newsData.news_url%>' target="_blank"> Read Full Article </a>
        </div>
        <div class="col-lg-12">
            
                <a class="btn btn-primary m-2" href= '/<%=newsData%>/previous' target="_self"> Previous </a>
            
                <%if(session_key!=""){%>
                    <button class="btn btn-danger m-2" onclick="window.location.href=window.location.href+'/downvote'; return false;">Downvote</button>
                    <button class="btn btn-danger m-2" onclick="window.location.href=window.location.href+'/upvote'; return false;">Upvote</button>
                <%}%>
            
                <a class="btn btn-primary m-2" href= '/<%=newsData%>/next' target="_self"> Next </a>
            
        </div>
    </div>
    </div>


    <br><br>
    <script src="javascripts/getNews.js"></script>
    <%- include('partials/footer.ejs') %>